{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}?{% now 'U' %}">
    <script defer src="{% static 'js/app.js' %}?{% now 'U' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"  rel="stylesheet" />
    <title>Biddify</title>
</head>
<body>
    <section class="bg-gray-50">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full md:mt-0 sm:max-w-md xl:p-0">
                <div class="grid grid-cols-3 gap-3">
                    <a class="mt-2 text-blue-800" href="{% url 'home' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                        </svg>
                    </a>
                    <div class="flex mb-5 text-2xl font-semibold text-gray-900">
                        <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
                        Biddify
                    </div>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Sign in to your account
                    </h1>
                    <form x-data="login" class="space-y-4 md:space-y-6" id="loginForm" x-clover-form="submitForm">
                        {% csrf_token %}
                        <div>
                            <label for="inputUsername" class="block mb-2 text-sm font-medium text-gray-900 ">Your username</label>
                            <input x-clover-verify type="text" name="username" id="inputUsername" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 ">
                            <div x-text="errors.username" class="text-red-500 text-sm mt-1"></div>
                        </div>
                        <div>
                            <label for="inputPassword" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                            <input x-clover-verify type="password" name="password" id="inputPassword" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" >
                            <div x-text="errors.password" class="text-red-500 text-sm mt-1"></div>
                        </div>
                        <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
                        <p class="text-sm font-light text-gray-500">
                            Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline hover:text-blue-500">Sign up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
      <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('login', () => ({
                rule: {
                    "username": [Clover.rule.required("Username is required!")],
                    "password": [Clover.rule.required("Password is required!"), Clover.rule.password()]
                },
                errors: {},
                credentialError: "",
                async submitForm() {
                    const form = this.$refs.form
                    const data = new FormData(form)
    
                    if (Object.keys(this.errors).length) return
                    this.credentialError = ""
    
                    try {
                        const response = await fetch("", {
                            method: "POST",
                            body: data
                        })
    
                        if (!response.ok) {
                            if (response.status === 403) {
                                return this.credentialError = "Credential Error!"
                            }
                        }
                        const res = await response.json()
    
                        this.errors = {}
    
                        if (res.success === true) {
                            window.location.href = 'home/';
                        } else if (res.success === false && res.error === "Invalid credentials") {
                            this.credentialError =  "Username or Password is incorrect!"
                        }
    
                    } catch (error) {
                        this.credentialError =  "Server Error!"
                    }
                }
            }))
        })
    </script>
</body>
</html>