@tailwind base;
@tailwind components;
@tailwind utilities;

a.swapable-a.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.smooth-transition {
    transition: all 1s ease-in;
}

.footer-border{
    border-top: 1px solid #d2d9e1;
}