{% extends 'utilities/master.html' %}
{% load tailwind_filters %}
{% block content %}
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-10 px-3">
    <div class="flex-initial px-9">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Your Inventory</h1>
    </div>
    <div class="font-medium flex-initial px-9">
        <button data-modal-target="additem-modal" data-modal-toggle="additem-modal" type="button" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 text-sm lg:text-md px-5 py-2.5 text-center">
            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                Add new item
        </button>
        <div id="additem-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-screen-lg max-h-full">
                <div class="relative bg-white rounded-lg shadow">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                        <h3 class="text-lg font-semibold text-gray-900">
                            Add New Item to your Inventory
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="additem-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <form class="p-4 md:p-5" x-data="item_register" x-clover-form="submit" id="registerForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="grid gap-4 grid-cols-2">
                            <div>
                                <div class="p-2">
                                    <label class="mb-2 font-medium flex justify-between items-center">
                                      <span>Choose images for the item</span>
                                      <label id="select-button" class="bg-blue-700 hover:bg-blue-800 text-white text-sm py-2 px-4 transition-colors duration-300">
                                        Select
                                      </label>
                                    </label>
                                    <input id="file-input" type="file" multiple class="hidden" accept=".png, .jpg, .jpeg" />
                                    <div class="flex mb-4 flex-col">
                                      <div id="drop-zone" class="w-full h-48 border-2 border-dashed border-gray-300 rounded-lg flex justify-center items-center text-gray-400 text-lg">
                                        <span>Drag and drop files here</span>
                                      </div>
                                      <div id="selected-files-count" class="text-gray-500 text-sm font-medium"></div>
                                      <div id="selected-images" class="flex flex-wrap -mx-2 mt-6"></div>
                                    </div>
                                  </div>
                            </div>
                            <div class="grid gap-4 mb-4 grid-cols-2">
                                <div class="col-span-2">
                                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                                    <input x-clover-verify type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type item name">
                                    <div x-text="errors.name" class="text-red-500 text-sm mt-1"></div>
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                  <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Category</label>
                                  <select x-clover-verify id="category" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                    <option value="" disabled selected>Select an item category</option>
                                    {% for category in categories %}
                                        <option value="{{category}}">{{category}}</option>
                                      {% endfor %}
                                  </select>
                                  <div x-text="errors.category" class="text-red-500 text-sm mt-1"></div>
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Starting Price</label>
                                    <input type="number" name="price" id="price" step="0.01" min="0" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type item starting price">
                                    <div x-text="errors.price" class="text-red-500 text-sm mt-1"></div>
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                  <label for="creator" class="block mb-2 text-sm font-medium text-gray-900">Creator</label>
                                  <input type="text" name="creator" id="creator" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type name of the creator">
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                  <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Country</label>
                                  <select id="country" name="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                    <option value="" selected>Select a country of origin</option>
                                    {% for core, country_name in countries %}
                                        <option value="{{core}}">{{country_name}}</option>
                                      {% endfor %}
                                  </select>
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                  <label for="year" class="block mb-2 text-sm font-medium text-gray-900">Year of Origin</label>
                                  <input x-clover-verify type="text" name="year" id="year" min="1000" max="2024" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type year of origin">
                                  <div x-text="errors.year" class="text-red-500 text-sm mt-1"></div>
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="condition" class="block mb-2 text-sm font-medium text-gray-900">Condition</label>
                                    <select x-clover-verify id="condition" name="condition" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                      <option value="" disabled selected>Select an item condition</option>
                                      {% for value, display in condition_choices %}
                                        <option value="{{value}}">{{display}}</option>
                                      {% endfor %}
                                    </select>
                                    <div x-text="errors.condition" class="text-red-500 text-sm mt-1"></div>
                                </div>
                                <div class="col-span-2">
                                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Product Description</label>
                                    <textarea x-clover-verify id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write product description here"></textarea>
                                    <div x-text="errors.description" class="text-red-500 text-sm mt-1"></div>                      
                                </div>
                                <div class="col-span-2">
                                  <label class="block mb-2 text-sm font-medium text-gray-900">Provide image or file of provenance</label>
                                  <input x-clover-verify accept=".pdf, .png, .jpg, .jpeg" class="block w-full text-sm text-gray-90 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" aria-describedby="file_input_help" id="provenance" name="provenance" type="file">
                                  <p class="mt-1 text-sm text-gray-500" id="file_input_help">PNG, JPG or PDF</p>
                                  <div x-text="errors.provenance" class="text-red-500 text-sm mt-1"></div> 
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            Add new product
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-6 px-3" x-data="{category: '', searchvalue: '', items: []}" x-init="posts = await (await fetch('/posts')).json()">
    <div class="px-9">
      <form id="searchForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w-full max-w-lg grid grid-cols-3 gap-4">
          <input type="text" name="searchbar" id="searchbar" class="col-span-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <select id="filter_category" name="filter_category" class="col-span-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
            <option value="" disabled selected>All</option>
            {% for category in categories %}
              <option value="{{category}}">{{category}}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 pt-12">
      {% for belonging in belongings %}
        <a href="{% url 'item_detail' belonging.id %}">
          <img class="h-auto max-w-full" src="{{belonging.itemimage_set.first.image.url}}" alt="">
          <p class="font-medium font-sans text-lg pt-2">{{belonging.name}}</p><br>
          <p class="font-mono font-normal text-sm text-gray-500">CURRENT BID</p>
          <p class="font-sans font-medium text-2xl">€ {{belonging.starting_price}}</p>
          <p class="pt-1 font-medium font-sans text-md text-gray-500"></p>
        </a>
      {% endfor %}
    </div>
  </div>

<div class="flex flex-col items-center pt-12">
  <span class="text-sm text-gray-700">
      Showing Page <span class="font-semibold text-gray-900">{{belongings.number}}</span> of <span class="font-semibold text-gray-900">{{belongings.paginator.num_pages}}</span><!-- of <span class="font-semibold text-gray-900">100</span> Entries -->
  </span>
  <div class="inline-flex mt-2 xs:mt-0">
    <a {% if belongings.has_previous %} href="?page={{belongings.previous_page_number}}" {% endif %} class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-blue-700 hover:bg-blue-800">
        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
        </svg>
        Prev
    </a>
    <a {% if belongings.has_next %} href="?page={{belongings.next_page_number}}" {% endif %} class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-blue-700 border-0 border-s border-blue-700 hover:bg-blue-800">
        Next
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg>
    </a>
  </div>
</div>

<script>
    const fileInput = document.getElementById("file-input");
      const dropZone = document.getElementById("drop-zone");
      const selectedImages = document.getElementById("selected-images");
      const selectButton = document.getElementById("select-button");
      const selectedFilesCount = document.getElementById(
        "selected-files-count"
      );
      let currentFiles = [];
      selectButton.addEventListener("click", () => {
        fileInput.click();
      });

      fileInput.addEventListener("change", handleFiles);
      dropZone.addEventListener("dragover", handleDragOver);
      dropZone.addEventListener("dragleave", handleDragLeave);
      dropZone.addEventListener("drop", handleDrop);

      function handleFiles() {
        const fileList = this.files;
        addFilesToCurrentList(fileList);
        displayImages();
        resetFileInput();
      }
      function handleDragOver(event) {
        event.preventDefault();
        dropZone.classList.add("border-blue-500");
        dropZone.classList.add("text-blue-500");
      }

      function handleDragLeave(event) {
        event.preventDefault();
        dropZone.classList.remove("border-blue-500");
        dropZone.classList.remove("text-blue-500");
      }

      function handleDrop(event) {
        event.preventDefault();
        const fileList = event.dataTransfer.files;
        displayImages(fileList);
        dropZone.classList.remove("border-blue-500");
        dropZone.classList.remove("text-blue-500");
      }

      function addFilesToCurrentList(fileList) {
            for (const file of fileList) {
                if (!currentFiles.some(f => f.name === file.name)) {
                    currentFiles.push(file);
                    console.log(currentFiles)
                }
            }
        }

        function displayImages() {
        selectedImages.innerHTML = "";
        currentFiles.forEach((file, index) => {
            const imageWrapper = document.createElement("div");
            imageWrapper.classList.add("relative", "mx-2", "mb-2");
            
            const image = document.createElement("img");
            image.src = URL.createObjectURL(file);
            image.classList.add("w-32", "h-32", "object-cover", "rounded-lg");
            
            const removeButton = document.createElement("button");
            removeButton.innerHTML = "&times;";
            removeButton.classList.add(
                "absolute",
                "top-1",
                "right-1",
                "h-6",
                "w-6",
                "bg-gray-700",
                "text-white",
                "text-xs",
                "rounded-full",
                "flex",
                "items-center",
                "justify-center",
                "opacity-50",
                "hover:opacity-100",
                "transition-opacity",
                "focus:outline-none"
            );

            removeButton.addEventListener("click", () => {
                currentFiles.splice(index, 1);
                displayImages();
                updateSelectedFilesCount();
            });

            imageWrapper.appendChild(image);
            imageWrapper.appendChild(removeButton);
            selectedImages.appendChild(imageWrapper);
        });
        updateSelectedFilesCount();
    }
      
    function resetFileInput() {
        fileInput.value = "";
    }

      function updateSelectedFilesCount() {
        const count = selectedImages.children.length;
        if (count > 0) {
          selectedFilesCount.textContent = `${count} file${
            count === 1 ? "" : "s"
          } selected`;
        } else {
          selectedFilesCount.textContent = "";
        }
      }
      document.addEventListener("alpine:init", ()=>{
            Alpine.data("item_register", ()=>({
                rule:{
                    name:[Clover.rule.required("Item name is required!")],
                    category:[Clover.rule.requiredDropdown("Item's category is required!")],
                    condition: [Clover.rule.required("Item's condition is required!")],
                    item_images: [function (message) {
                            return function (field, val) {
                                return {
                                    rule: 'images',
                                    value: currentFiles.length > 0
                                        ? false
                                        : message || `At least one image is required.`,
                                };
                            };
                        }("At least one image must be selected!"),],
                    provenance: [Clover.rule.requiredFile("Provenance is required!")],
                    price: [Clover.rule.required("Price is required!"),Clover.rule.price("Price must be a positive number!")],
                    description: [Clover.rule.required("Description must be provided!")],
                    year: [Clover.rule.optionalNumerical("Year must be a positive number!")],
                },
                errors: {},
                async submit() {
                const form = this.$el;
                const formData = new FormData(form);
                currentFiles.forEach((file, index) => {
                    formData.append('images[]', file);
                });
                if (!Object.keys(this.errors).length) {
                    try {
                        const res = await fetch("", {
                            method: "POST",
                            body: formData,
                        });

                        if (!res.ok) {
                            throw res;
                        }
                        const response = await res.json();
                        if (response.status === 'success') {
                            window.location = "/items/inventory"
                        } 
                    } catch (error) {
                        
                    }
                } 
            },
        }))
        })
</script>
{% endblock content %}