{% if latest_bids %}
    <table id="bidding-list" class="w-full font-sans text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" hx-swap-oob="true">
        <tbody>
            {% for bid in latest_bids %}
                <tr class="bg-white">
                    <td class="px-auto py-3 font-medium text-gray-600 whitespace-nowrap">
                        {{ bid.bidder }}
                    </td>
                    <td id="time-ago" class="px-6 py-3 font-medium text-gray-400 text-center" data-time="{{ bid.bid_time|date:'Y-m-d H:i:s'}}">
                    </td>
                    <td class="float-right py-3 font-semibold text-gray-950">
                        € {{ bid.bid_amount}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if more_bids %}
<div id="show-more-bids" hx-swap-oob="true" class="collapse collapse-arrow {% if not more_bids %} hidden {% endif %}" x-bind:open="open">
    <div class="collapse-title font-semibold text-sm px-0 text-blue-700 select-none hover:text-opacity-70" x-text="open ? 'See less bids' : 'See more bids ({{more_bids|length}})' " @click="toggle"></div>
    <div class="collapse-content px-0" x-show="open">
        <table class="w-full font-sans text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <tbody>
                {% for bid in more_bids %}
                    <tr class="bg-white">
                        <td class="px-auto py-3 font-medium text-gray-600 whitespace-nowrap">
                            {{ bid.bidder }}
                        </td>
                        <td id="time-ago" class="px-6 py-3 font-medium text-gray-400 text-center" data-time="{{ bid.bid_time|date:'Y-m-d H:i:s'}}">
                        </td>
                        <td class="float-right py-3 font-semibold text-gray-950">
                            € {{ bid.bid_amount}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<p class="text-red-500 text-sm font-bold mb-3" id="bid-error" hx-swap-oob="true">{{ bid_form.bid_amount.errors.0 }}</p>

{% if latest_bids %}
    <p class="font-mono font-normal text-sm text-gray-700">CURRENT BID</p>
    <h2 id="current-bid" hx-swap-oob="true"
        class="mb-4 text-4xl font-semibold font-sans antialiased leading-none tracking-tight text-gray-900 md:text-5xl ">
        € {{latest_bids.first.bid_amount}}
</h2>
{% elif not bid_form.bid_amount.errors %}
    <p class="font-mono font-normal text-sm text-gray-700">STARTING PRICE</p>
    <h2 id="current-bid" hx-swap-oob="true"
        class="mb-4 text-4xl font-semibold font-sans antialiased leading-none tracking-tight text-gray-900 md:text-5xl ">
        € {{item.starting_price}}
    </h2>
{% endif %}