<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-6 px-3">
  {% if belongings %} 
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 pt-12" id="items-list">
        {% for belonging in belongings %}
          <a href="{% url 'item_detail' belonging.id %}">
            <img class="h-auto max-w-full" src="{{belonging.itemimage_set.first.image.url}}" alt="">
            <p class="font-medium font-sans text-lg pt-2">{{belonging.name}}</p><br>
            <p class="font-mono font-normal text-sm text-gray-500">CURRENT BID</p>
            <p class="font-sans font-medium text-2xl">€ {{belonging.starting_price}}</p>
            <p class="pt-1 font-medium font-sans text-md text-gray-500"></p>
          </a>
          {% endfor %}
    </div>
  {% else %}
    <div class="flex justify-center items-center mx-auto py-44">
      <h2 class="mb-4 text-1xl font-bold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl">There is no item in the inventory!</h2>
    </div>
  {% endif %}
  </div>
  {% if belongings.paginator.count %}
  <div class="flex flex-col items-center pt-12">
    <span class="text-sm text-gray-700">
        Showing Page <span class="font-semibold text-gray-900">{{belongings.number}}</span> of <span class="font-semibold text-gray-900">{{belongings.paginator.num_pages}}</span>of <span class="font-semibold text-gray-900">{{belongings.paginator.count}}</span> Entries
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
      <a {% if belongings.has_previous %} href="?page={{belongings.previous_page_number}}" {% endif %} class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-blue-700 hover:bg-blue-800">
          <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
          </svg>
          Prev
      </a>
      <a {% if belongings.has_next %} href="?page={{belongings.next_page_number}}" {% endif %} class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-blue-700 border-0 border-s border-blue-700 hover:bg-blue-800">
          Next
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>
  {% endif %}
